/*  Reset CSS */
* {
    /*  Margem = Externa */
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000cc;
    /* Cor Fundo */

    /* Cor textos */
    color: #ffffff;
}

/* seletor para os <A> */
a {
    /* Propriedades e VALOR */
    text-decoration: none;
    color: #ffffff;
}



/* HEADER = Cabeçalho */
header {
   /*   ROW Linha Horizontal  */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f1b1b;
    /* Largura ou Comprimento */
    width: 100%;
}